.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  border-top: 1px solid var(--header-border);

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/banner/img-banner.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: var(--second-background-color);
  color: var(--white-text-color);
}

.hero__title {
  @include font(44px, 900, 1.36, 0.06em);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;

  text-transform: uppercase;
}
