body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
